* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mybody {
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mymain {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 150px;
  width: 100vw;
  z-index: 1;
}

.mycanvas {
  border: 5px solid gray;
}

.backgroundAnimation {
  height: 100vh;
  position: absolute;
  z-index: -1;
}

.slot {
  background-color: black;
  position: absolute;
  top: 10px;
  z-index: 2;
}

.tutorials {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  /* border: 2px solid #cd853f; */
  width: 90%;
  height: 90%;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #cd853f;
  padding: 20px;
}

h1 {
  text-transform: uppercase;
}

.tut-header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.tut-list {
  font-size: 14px;
}

.subtitle {
  font-size: 20px;
}

#tutorial {
  display: none;
}

#commands {
  display: none;
}

.tut-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow-y: auto;
  padding: 10px;
  /* border: 1px solid black; */
  line-height: 1em;
}

.tut-wrapper::-webkit-scrollbar {
  -webkit-appearance: none;
}
.tut-wrapper::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid #cd853f; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

.tiles {
  display: flex;
  justify-content: space-around;
}

.tut-footer {
  display: flex;
  width: 100%;
  height: 10%;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 20px;
}

.prev {
  display: none;
}

.tut-button {
  border: 1px solid #cd853f;
  background-color: rgba(105, 105, 105, 0.5);
  color: #cd853f;
}

.tut-li {
  margin: 10px auto;
}

#page-wrapper {
  position: absolute;
  right: 2%;
  top: 2%;
}

ol {
  line-height: 1.3;
}
