<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Maze Runner</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
  <link rel="stylesheet" href="/stylesheets/header.css">
</head>
<body>
  <header>
    <h1>Maze Runner</h1>
  </header>
  <main>
    <canvas id="maze"></canvas>
  </main>
  <script
    type="text/javascript" src="/javascript/screenSettings.js"
  ></script>
</body>
</html>
