<% include ./partials/header %>

  <main class="mymain">
    <canvas id="canvas" class="mycanvas">
      Your browser does not support the HTML5 Canvas element.
    </canvas>
  </main>

  <script type="text/javascript" src="/javascript/background.js"></script>
  <script type="text/javascript" src="/javascript/Node.js"></script>
  <script type="text/javascript" src="/javascript/PriorityQueue.js"></script>
  <script type="text/javascript" src="/javascript/WeightedGraph.js"></script>
  <script type="text/javascript" src="/javascript/Maze.js"></script>
  <script type="text/javascript" src="/javascript/Board.js"></script>
  <script type="text/javascript" src="/javascript/main.js"></script>
</body>
</html>
