<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Maze Runner</title>
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
  <header>
    <h1>Maze Runner</h1>
    <button id="gacha">Gacha</button>
  </header>
  <main>
    <canvas id="canvas"></canvas>
  </main>
  <script type="text/javascript" src="/javascript/board.js"></script>
</body>
</html>
