.myheader {
  /* border: 1px solid red; */
  /* background-color: #8b4513; */
  /* background-color: black; */
  height: 150px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

h1 {
  /* border: 1px solid blue; */
  color: #cd853f;
  /* position: absolute; */
  /* text-align: center; */
  text-transform: uppercase;
  /* top: 25px; */
  /* width: 100vw; */
}

.text {
  color: #cd853f;
  text-transform: uppercase;
}

.nav-custom {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-toggler-icon button span {
  color: #cd853f;
}
