.myheader {
  height: 150px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 2;
}

h2 {
  color: #cd853f;
  text-transform: uppercase;
}

.text {
  color: #cd853f;
  text-transform: uppercase;
}

.nav-custom {
  background-color: rgba(0, 0, 0, 0.5);
}

.navbar-toggler-icon button span {
  color: #cd853f;
}

.dropdown-item {
  background-color: rgba(0, 0, 0, 0);
  color: #cd853f;
}

.dropdown-item:hover {
  background-color: rgba(105, 105, 105, 0.5);
  color: #cd853f;
}

.dropdown-menu {
  background-color: rgba(0, 0, 0, 0.9);
}

.icon-custom.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(205, 133, 63, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.icon-custom.navbar-toggler {
  border-color: rgb(205, 133, 63);
}

.icon-custom.navbar-toggler:focus {
  outline-color: #cd853f;
}

.hp-moves-board {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 100%;
  color: #cd853f;
  justify-content: space-around;
  align-items: flex-end;
}

.hp-moves {
  margin: 20px;
  font-size: 40px;
}
