* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mybody {
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
  padding: 0;
  width: 100vw;
}

.mymain {
  align-items: center;
  /* background-color: black; */
  /* border: 1px solid blue; */
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  position: fixed;
  top: 150px;
  width: 100vw;
  z-index: 1;
}

.mycanvas {
  /* background-color: cyan; */
  /* background-size: 100%; */
  border: 5px solid gray;
  /* left: 20px; */
  /* position: relative; */
  /* top: 20px; */
}

#background {
  position: absolute;
  height: 100vh;
  z-index: -999999;
}
