* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.mybody {
  background-color: black;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
}

.mymain {
  align-items: center;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 150px;
  width: 100vw;
  z-index: 1;
}

.mycanvas {
  border: 5px solid gray;
}

.backgroundAnimation {
  height: 100vh;
  position: absolute;
  z-index: -999999;
}
