* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  /* overflow: hidden; */
  padding: 0;
  width: 100vw;
}

header {
  border: 1px solid red;
  height: 150px;
  position: fixed;
  top: 0;
  width: 100vw;
}

main {
  border: 1px solid blue;
  position: fixed;
  top: 150px;
  width: 100vw;
}

canvas {
  border: 1px solid black;
  left: 20px;
  position: relative;
  top: 20px;
}
