<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- bootstrap stylesheet -->
  <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  >

  <!-- annyang javascript -->
  <script
    src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"
  ></script>

  <!-- bootstrap javascript -->
  <script
    src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>

  <title>Maze Runner</title>
  <link rel="stylesheet" href="/stylesheets/header.css">
  <link rel="stylesheet" href="/stylesheets/main.css">

</head>
<body class="mybody">
  <canvas id="background" class="backgroundAnimation">
    Your browser does not support the HTML5 Canvas element.
  </canvas>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark nav-custom">
      <a class="navbar-brand" href="#"><h1>Maze Runner</h1></a>
    <!-- creates hamburger icon during small screen -->
    <button class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a id="new" class="nav-link" href="#">
              <span class="text">
                New Game
              </span>
            </a>
          </li>

          <li class="nav-item">
            <a id="gacha" class="nav-link" href="#">
              <span class="text">
                Gacha
              </span>
            </a>
          </li>

      </ul>
      <ul class="navbar-nav">
          <!-- all items in list will be pushed right -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="text">Maze Type</span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a id="recursive" class="dropdown-item" href="#">Recursive</a>
              <a id="random" class="dropdown-item" href="#">Random</a>
            </div>
            </a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="text">
                Game Mode
              </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a id="maze" class="dropdown-item" href="#">Maze</a>
              <a id="bombs" class="dropdown-item" href="#">Bombs</a>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="text">
                Voice Mode
              </span>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a id="speechOn" class="dropdown-item" href="#">On</a>
              <a id="speechOff" class="dropdown-item" href="#">Off</a>
            </div>
          </li>
      </ul>
    </div>
  </nav>

  <header class="myheader">
  </header>
